In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_set = pd.read_csv('/content/drive/My Drive/archivetemptestset.csv')

In [ ]:
data_set.isnull().sum()

Unnamed: 0          0
datetime_utc        0
_conds              0
_dewptm             0
_fog                0
_hail               0
_hum                0
_pressurem          0
_rain               0
_snow               0
_tempm            673
_thunder            0
_tornado            0
_vism               0
_wdird          14755
_wdire          14755
_wspdm              0
dtype: int64

In [ ]:
data_set.head()

   Unnamed: 0    datetime_utc _conds  _dewptm  ...  _vism  _wdird  _wdire  _wspdm
0           0  19961101-11:00  Smoke      9.0  ...    5.0   280.0    West     7.4
1           1  19961101-12:00  Smoke     10.0  ...    2.0     0.0   North     7.0
2           2  19961101-13:00  Smoke     11.0  ...    2.0     0.0   North     7.0
3           3  19961101-14:00  Smoke     10.0  ...    2.0     0.0   North     7.0
4           4  19961101-16:00  Smoke     11.0  ...    1.2     0.0   North     0.0

[5 rows x 17 columns]

In [ ]:
data_set['_conds'] = data_set['_conds'].fillna("Unknown")

In [ ]:
data_set['_dewptm'] = data_set['_dewptm'].fillna(data_set["_dewptm"].mean())

In [ ]:
data_set['_hum'] = data_set['_hum'].fillna(int(data_set["_hum"].mean()))

In [ ]:
data_set['_pressurem'] = data_set['_pressurem'].replace(-9999.0, data_set['_pressurem'].median())

In [ ]:
data_set['_pressurem'] = data_set['_pressurem'].fillna(int(data_set["_pressurem"].mean()))

In [ ]:
data_set['_wspdm'] = data_set['_wspdm'].fillna(int(data_set["_wspdm"].mean()))

In [ ]:
data_set['_vism'] = data_set['_vism'].fillna(int(data_set["_vism"].mean()))

In [ ]:
data_set.to_csv("cleaned_data.csv")

In [ ]:
data_set = data_set.dropna()

In [ ]:
len(data_set)

85578

In [ ]:
data_set = data_set.drop(['datetime_utc'], axis=1)

In [ ]:
y = data_set['_tempm']

In [ ]:
y

0         30.0
1         28.0
2         24.0
3         24.0
4         23.0
          ...
100985    34.0
100986    38.0
100987    36.0
100988    32.0
100989    30.0
Name: _tempm, Length: 85578, dtype: float64

In [ ]:
data_set

        Unnamed: 0    datetime_utc _conds  ...  _wdird  _wdire  _wspdm
0                0  19961101-11:00  Smoke  ...   280.0    West     7.4
1                1  19961101-12:00  Smoke  ...     0.0   North     7.0
2                2  19961101-13:00  Smoke  ...     0.0   North     7.0
3                3  19961101-14:00  Smoke  ...     0.0   North     7.0
4                4  19961101-16:00  Smoke  ...     0.0   North     0.0
...            ...             ...    ...  ...     ...     ...     ...
100985      100985  20170424-06:00   Haze  ...   320.0      NW    11.1
100986      100986  20170424-09:00   Haze  ...   320.0      NW    22.2
100987      100987  20170424-12:00   Haze  ...   270.0    West    18.5
100988      100988  20170424-15:00   Haze  ...   320.0      NW     3.7
100989      100989  20170424-18:00   Haze  ...   320.0      NW     3.7

[85578 rows x 17 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder#label encoder can't handle missing values

label_encoder = LabelEncoder()
data_set['_conds'] = label_encoder.fit_transform(data_set['_conds'])# Print sample of dataset
data_set.head()

   Unnamed: 0    datetime_utc  _conds  _dewptm  ...  _vism  _wdird  _wdire  _wspdm
0           0  19961101-11:00      30      9.0  ...    5.0   280.0    West     7.4
1           1  19961101-12:00      30     10.0  ...    2.0     0.0   North     7.0
2           2  19961101-13:00      30     11.0  ...    2.0     0.0   North     7.0
3           3  19961101-14:00      30     10.0  ...    2.0     0.0   North     7.0
4           4  19961101-16:00      30     11.0  ...    1.2     0.0   North     0.0

[5 rows x 17 columns]

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object with categorical feature 0
# indicating the first column
columnTransformer = ColumnTransformer([('encoder',
                                        OneHotEncoder(),
                                        [2])],
                                      remainder='passthrough')
  
data_set = pd.DataFrame(columnTransformer.fit_transform(data_set))

In [ ]:
data_set

      0  1  2  3  4  5  6  7  8   ... 45 46  47 48 49   50   51     52    53
0      0  0  0  0  0  0  0  0  0  ...  0  0  30  0  0    5  280   West   7.4
1      0  0  0  0  0  0  0  0  0  ...  0  0  28  0  0    2    0  North     7
2      0  0  0  0  0  0  0  0  0  ...  0  0  24  0  0    2    0  North     7
3      0  0  0  0  0  0  0  0  0  ...  0  0  24  0  0    2    0  North     7
4      0  0  0  0  0  0  0  0  0  ...  0  0  23  0  0  1.2    0  North     0
...   .. .. .. .. .. .. .. .. ..  ... .. ..  .. .. ..  ...  ...    ...   ...
85573  0  0  0  0  0  1  0  0  0  ...  0  0  34  0  0    4  320     NW  11.1
85574  0  0  0  0  0  1  0  0  0  ...  0  0  38  0  0    4  320     NW  22.2
85575  0  0  0  0  0  1  0  0  0  ...  0  0  36  0  0    4  270   West  18.5
85576  0  0  0  0  0  1  0  0  0  ...  0  0  32  0  0    2  320     NW   3.7
85577  0  0  0  0  0  1  0  0  0  ...  0  0  30  0  0    2  320     NW   3.7

[85578 rows x 54 columns]

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object with categorical feature 0
# indicating the first column
columnTransformer = ColumnTransformer([('encoder',
                                        OneHotEncoder(),
                                        [53])],
                                      remainder='passthrough')
  
data_set = pd.DataFrame(columnTransformer.fit_transform(data_set))

In [ ]:
y = np.array(y, dtype=np.float)

In [ ]:
y.shape

(85578,)

In [ ]:
y = y.reshape(-1, 1)
y.shape

(85578, 1)

In [ ]:
x = data_set.iloc[:,:].values

In [ ]:
x = np.array(x, dtype=np.int)

In [ ]:
x.shape

(85578, 67)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2, shuffle=True)

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(68462, 67) (17116, 67) (68462, 1) (17116, 1)

In [ ]:
X_train

array([[  0,   0,   1, ...,   3,  80,  11],
       [  0,   0,   0, ...,   3, 130,  16],
       [  0,   0,   0, ...,   2, 320,  11],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   2, 290,   7],
       [  0,   0,   0, ...,   2, 320,   7]])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
y_train=scaler.fit_transform(np.array(y_train).reshape(-1,1))

In [ ]:
y_train

array([[0.44927536],
       [0.49275362],
       [0.43478261],
       ...,
       [0.17391304],
       [0.49275362],
       [0.4057971 ]])

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout

In [ ]:
new_model = tf.keras.models.load_model('/content/drive/MyDrive/my_model/')

In [ ]:
new_model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_26 (Dense)             (None, 30)                2040
_________________________________________________________________
dense_27 (Dense)             (None, 30)                930
_________________________________________________________________
dense_28 (Dense)             (None, 15)                465
_________________________________________________________________
dense_29 (Dense)             (None, 10)                160
_________________________________________________________________
dense_30 (Dense)             (None, 5)                 55
_________________________________________________________________
dense_31 (Dense)             (None, 1)                 6
=================================================================
Total params: 3,656
Trainable params: 3,656
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model = tf.keras.Sequential()
model.add(Dense(30, activation='relu'))
model.add(Dense(30, activation='relu'))

model.add(Dense(15, activation='relu'))


model.add(Dense(10, activation='relu'))


model.add(Dense(5, activation='relu'))

model.add(Dense(1))

In [ ]:
model.compile(loss='mean_squared_error',optimizer='adam', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,batch_size=64,verbose=1)

Epoch 1/100
1070/1070 [==============================] - 6s 3ms/step - loss: 14.1545 - accuracy: 2.7833e-05 - val_loss: 734.8997 - val_accuracy: 0.0000e+00
Epoch 2/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.1683 - accuracy: 3.2541e-05 - val_loss: 733.6755 - val_accuracy: 0.0000e+00
Epoch 3/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0165 - accuracy: 1.4824e-05 - val_loss: 733.6907 - val_accuracy: 0.0000e+00
Epoch 4/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.1882 - accuracy: 1.5143e-05 - val_loss: 733.8177 - val_accuracy: 0.0000e+00
Epoch 5/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0426 - accuracy: 1.4084e-05 - val_loss: 733.6482 - val_accuracy: 0.0000e+00
Epoch 6/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 3.5428e-05 - val_loss: 733.7094 - val_accuracy: 0.0000e+00
Epoch 7/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.9283e-05 - val_loss: 733.6580 - val_accuracy: 0.0000e+00
Epoch 8/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.7781e-05 - val_loss: 733.5637 - val_accuracy: 0.0000e+00
Epoch 9/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.1714e-05 - val_loss: 734.0197 - val_accuracy: 0.0000e+00
Epoch 10/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 3.5841e-05 - val_loss: 733.6099 - val_accuracy: 0.0000e+00
Epoch 11/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.8761e-05 - val_loss: 734.0549 - val_accuracy: 0.0000e+00
Epoch 12/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.5579e-05 - val_loss: 733.8197 - val_accuracy: 0.0000e+00
Epoch 13/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.4365e-05 - val_loss: 733.5971 - val_accuracy: 0.0000e+00
Epoch 14/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 3.0035e-05 - val_loss: 733.5745 - val_accuracy: 0.0000e+00
Epoch 15/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 6.3246e-06 - val_loss: 733.7839 - val_accuracy: 0.0000e+00
Epoch 16/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 2.6403e-06 - val_loss: 733.9574 - val_accuracy: 0.0000e+00
Epoch 17/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 8.0303e-06 - val_loss: 733.2103 - val_accuracy: 0.0000e+00
Epoch 18/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 4.4331e-05 - val_loss: 733.7952 - val_accuracy: 0.0000e+00
Epoch 19/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 4.1845e-05 - val_loss: 733.8824 - val_accuracy: 0.0000e+00
Epoch 20/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.9054e-05 - val_loss: 733.7910 - val_accuracy: 0.0000e+00
Epoch 21/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.7553e-05 - val_loss: 733.4642 - val_accuracy: 0.0000e+00
Epoch 22/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 3.0781e-05 - val_loss: 733.5715 - val_accuracy: 0.0000e+00
Epoch 23/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.1461e-05 - val_loss: 733.8032 - val_accuracy: 0.0000e+00
Epoch 24/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 5.1094e-05 - val_loss: 733.9880 - val_accuracy: 0.0000e+00
Epoch 25/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 7.2234e-05 - val_loss: 733.5485 - val_accuracy: 0.0000e+00
Epoch 26/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.2062e-05 - val_loss: 733.5729 - val_accuracy: 0.0000e+00
Epoch 27/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 2.7027e-05 - val_loss: 733.8647 - val_accuracy: 0.0000e+00
Epoch 28/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 5.5370e-06 - val_loss: 733.7819 - val_accuracy: 0.0000e+00
Epoch 29/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 6.4766e-05 - val_loss: 733.9703 - val_accuracy: 0.0000e+00
Epoch 30/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 1.5318e-05 - val_loss: 733.3766 - val_accuracy: 0.0000e+00
Epoch 31/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 2.8941e-05 - val_loss: 733.4919 - val_accuracy: 0.0000e+00
Epoch 32/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.6171e-05 - val_loss: 733.8461 - val_accuracy: 0.0000e+00
Epoch 33/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.8463e-05 - val_loss: 733.5946 - val_accuracy: 0.0000e+00
Epoch 34/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.3957e-05 - val_loss: 733.7510 - val_accuracy: 0.0000e+00
Epoch 35/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.9849e-05 - val_loss: 733.9621 - val_accuracy: 0.0000e+00
Epoch 36/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 4.7037e-05 - val_loss: 733.6536 - val_accuracy: 0.0000e+00
Epoch 37/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 3.5304e-05 - val_loss: 733.7684 - val_accuracy: 0.0000e+00
Epoch 38/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 4.8811e-05 - val_loss: 733.4064 - val_accuracy: 0.0000e+00
Epoch 39/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.1508e-05 - val_loss: 733.6154 - val_accuracy: 0.0000e+00
Epoch 40/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.6473e-06 - val_loss: 733.4161 - val_accuracy: 0.0000e+00
Epoch 41/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 4.5193e-05 - val_loss: 733.9385 - val_accuracy: 0.0000e+00
Epoch 42/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 3.0424e-06 - val_loss: 733.5780 - val_accuracy: 0.0000e+00
Epoch 43/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.7461e-06 - val_loss: 733.7858 - val_accuracy: 0.0000e+00
Epoch 44/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 6.3795e-05 - val_loss: 733.8703 - val_accuracy: 0.0000e+00
Epoch 45/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.7439e-05 - val_loss: 733.8317 - val_accuracy: 0.0000e+00
Epoch 46/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.5941e-05 - val_loss: 733.9575 - val_accuracy: 0.0000e+00
Epoch 47/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.0667e-05 - val_loss: 733.4544 - val_accuracy: 0.0000e+00
Epoch 48/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.1526e-05 - val_loss: 733.4549 - val_accuracy: 0.0000e+00
Epoch 49/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.0158e-05 - val_loss: 733.6938 - val_accuracy: 0.0000e+00
Epoch 50/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 2.3291e-05 - val_loss: 733.6235 - val_accuracy: 0.0000e+00
Epoch 51/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 5.7188e-05 - val_loss: 734.1513 - val_accuracy: 0.0000e+00
Epoch 52/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 8.6797e-05 - val_loss: 733.3964 - val_accuracy: 0.0000e+00
Epoch 53/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 3.2159e-05 - val_loss: 733.9138 - val_accuracy: 0.0000e+00
Epoch 54/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.8538e-05 - val_loss: 733.7721 - val_accuracy: 0.0000e+00
Epoch 55/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.6640e-05 - val_loss: 733.7999 - val_accuracy: 0.0000e+00
Epoch 56/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.7848e-05 - val_loss: 733.2286 - val_accuracy: 0.0000e+00
Epoch 57/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.4553e-05 - val_loss: 733.4236 - val_accuracy: 0.0000e+00
Epoch 58/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.2829e-05 - val_loss: 733.6813 - val_accuracy: 0.0000e+00
Epoch 59/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 6.7200e-06 - val_loss: 733.4721 - val_accuracy: 0.0000e+00
Epoch 60/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.9189e-05 - val_loss: 733.6481 - val_accuracy: 0.0000e+00
Epoch 61/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.0700e-05 - val_loss: 733.8877 - val_accuracy: 0.0000e+00
Epoch 62/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 5.8404e-06 - val_loss: 733.4875 - val_accuracy: 0.0000e+00
Epoch 63/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 8.3351e-06 - val_loss: 733.7903 - val_accuracy: 0.0000e+00
Epoch 64/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.9860e-05 - val_loss: 733.7034 - val_accuracy: 0.0000e+00
Epoch 65/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.3679e-05 - val_loss: 733.5201 - val_accuracy: 0.0000e+00
Epoch 66/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.9896e-05 - val_loss: 733.9663 - val_accuracy: 0.0000e+00
Epoch 67/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.0860e-05 - val_loss: 733.5727 - val_accuracy: 0.0000e+00
Epoch 68/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.3468e-05 - val_loss: 733.8923 - val_accuracy: 0.0000e+00
Epoch 69/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 6.5393e-06 - val_loss: 733.5483 - val_accuracy: 0.0000e+00
Epoch 70/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 4.8995e-05 - val_loss: 733.6528 - val_accuracy: 0.0000e+00
Epoch 71/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.6538e-05 - val_loss: 733.7185 - val_accuracy: 0.0000e+00
Epoch 72/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.2510e-05 - val_loss: 733.8060 - val_accuracy: 0.0000e+00
Epoch 73/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.4452e-05 - val_loss: 733.5968 - val_accuracy: 0.0000e+00
Epoch 74/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.4683e-05 - val_loss: 733.7427 - val_accuracy: 0.0000e+00
Epoch 75/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.8145e-05 - val_loss: 733.6962 - val_accuracy: 0.0000e+00
Epoch 76/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.6384e-05 - val_loss: 733.8000 - val_accuracy: 0.0000e+00
Epoch 77/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 1.4473e-05 - val_loss: 733.5908 - val_accuracy: 0.0000e+00
Epoch 78/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.0746e-05 - val_loss: 733.6476 - val_accuracy: 0.0000e+00
Epoch 79/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.6902e-05 - val_loss: 733.8144 - val_accuracy: 0.0000e+00
Epoch 80/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 7.3364e-05 - val_loss: 733.3997 - val_accuracy: 0.0000e+00
Epoch 81/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 1.1204e-05 - val_loss: 733.6711 - val_accuracy: 0.0000e+00
Epoch 82/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 3.1976e-05 - val_loss: 733.9691 - val_accuracy: 0.0000e+00
Epoch 83/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 7.5399e-06 - val_loss: 733.8238 - val_accuracy: 0.0000e+00
Epoch 84/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0151 - accuracy: 3.3280e-06 - val_loss: 733.8176 - val_accuracy: 0.0000e+00
Epoch 85/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.0514e-05 - val_loss: 733.5936 - val_accuracy: 0.0000e+00
Epoch 86/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 4.5666e-05 - val_loss: 733.4705 - val_accuracy: 0.0000e+00
Epoch 87/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.7903e-05 - val_loss: 733.9474 - val_accuracy: 0.0000e+00
Epoch 88/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 3.1923e-06 - val_loss: 733.6012 - val_accuracy: 0.0000e+00
Epoch 89/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 1.6672e-05 - val_loss: 733.7803 - val_accuracy: 0.0000e+00
Epoch 90/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 3.1345e-05 - val_loss: 733.7326 - val_accuracy: 0.0000e+00
Epoch 91/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.1591e-05 - val_loss: 733.7922 - val_accuracy: 0.0000e+00
Epoch 92/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0148 - accuracy: 1.5019e-05 - val_loss: 733.4242 - val_accuracy: 0.0000e+00
Epoch 93/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 5.2911e-05 - val_loss: 733.9479 - val_accuracy: 0.0000e+00
Epoch 94/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 2.5536e-05 - val_loss: 733.9136 - val_accuracy: 0.0000e+00
Epoch 95/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.5670e-05 - val_loss: 733.5223 - val_accuracy: 0.0000e+00
Epoch 96/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 5.3664e-05 - val_loss: 733.8748 - val_accuracy: 0.0000e+00
Epoch 97/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.0325e-05 - val_loss: 733.6714 - val_accuracy: 0.0000e+00
Epoch 98/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 1.2351e-05 - val_loss: 733.7775 - val_accuracy: 0.0000e+00
Epoch 99/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0150 - accuracy: 6.4034e-06 - val_loss: 733.5674 - val_accuracy: 0.0000e+00
Epoch 100/100
1070/1070 [==============================] - 3s 3ms/step - loss: 0.0149 - accuracy: 2.1826e-05 - val_loss: 733.4119 - val_accuracy: 0.0000e+00

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                2040
_________________________________________________________________
dense_1 (Dense)              (None, 30)                930
_________________________________________________________________
dense_2 (Dense)              (None, 15)                465
_________________________________________________________________
dense_3 (Dense)              (None, 10)                160
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 3,656
Trainable params: 3,656
Non-trainable params: 0
_________________________________________________________________

In [ ]:
train_predict=model.predict(X_train)
test_predict=model.predict(X_test)

In [ ]:
train_predict=scaler.inverse_transform(train_predict)
test_predict=scaler.inverse_transform(test_predict)

In [ ]:
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_train,train_predict))

26.116380335430062

In [ ]:
model.save('/content/drive/MyDrive/my_model')

INFO:tensorflow:Assets written to: /content/drive/MyDrive/my_model/assets